.App {
  text-align: center;
}





.App-header {
  background-color: blueviolet;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.ar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center; 
}

article {
width: 80%;
  padding: 2rem;
margin: 0 auto;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px 0px rgba(87, 244, 255, 0.75);
  line-height: 2.3rem;
  background-color: azure;
  border-radius: 8px;
}
.ar2{
  padding: 2rem;
  width: 50%;
  margin: 60px auto;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px 0px rgba(87, 244, 255, 0.75);
  line-height: 2.3rem;
  background-color: azure;
  border-radius: 8px;
 
}
input{
  margin-left: 40px;
}
.b{
  text-align: center;
  
}
h2 {
  text-transform: capitalize;
}

/* different style for 1st paragraph*/
p:first-of-type {
  font-size: 1.1rem;
}
/* Drop Cap */
p:first-of-type:first-letter {
  font-size: 4.2rem;
  font-weight: bold;
  border-radius: 6px;

  display: inline-block;
  float: left;
  margin-top: 0.5rem;
  padding-right: 0.15rem;
  color: white;
  background-color: rgb(47, 207, 255);
  padding: 1.2rem 0.5rem;
  margin-right: 0.5rem;
}
p:first-of-type:first-line {
  font-weight: bold;
}
button{
  padding: 3px;
  background-color: blueviolet;
  color :rgb(234, 255, 0);
  width: 200px;
  letter-spacing: 3px;


}
button:hover{
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color :rgb(255, 0, 0);
}
em {
  color: white;
}